/* Noto Sans font  */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Markazi+Text&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Markazi+Text&family=Mulish&family=Noto+Sans&display=swap');

.customNav {
  padding-left: 30px !important;
  padding-right: 30px !important;
  height: 100px;
  color: white;
}

.navFlex {
  display: flex;
}

.loginBtn {
  width: 197px;
  height: 46px;
  left: 1161px;
  top: 41px;
  background: #C689C6;
  border-radius: 18px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.loginBtn:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(150, 98, 187, 1);
  transition: .4s;
}

.navLink {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-left: 20px;
  margin-right: 25px;
  text-decoration: none;
}

.navLink:hover {
  color: #FFFFFF;
}

@media (max-width: 1215px) {}

@media (max-width: 1095px) {}

@media (max-width: 1025px) {}

@media only screen and (max-width: 991px) {
  .navFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }

  .navLink {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .customNav {

    height: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;

  }
}

@media only screen and (max-width: 600px) {}