@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Manrope&family=Markazi+Text&family=Mulish&family=Noto+Sans&family=Poppins&display=swap');

.footerContent {
  text-align: start;
  padding-top: 50px;
  color: white;
}

.footerContainer {
  width: auto;
  height: auto;
  background-color: #937DC2;
  margin-top: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.footerContentLogo p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.footerContentHeader h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;

}

.footerContentHeader p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #FFFFFF;
}

.footerContentCopy {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footerContentLast {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #FFFFFF;
}